.buttons-model{
  display: flex;
  justify-content: space-between;
  margin: 0 30px 20px 30px;
}

.btn-cancel{
  width: 160px;
  height: 60px;
  border-radius: 10px;
  background: #D9D9D9;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  cursor: pointer;
}

.btn-add{
  height: 60px; 
  padding: 20px;
  border-radius: 10px;
  background: #53A856;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  color:#FFFFFF;
  border: none;
  box-shadow: 3px 3px 4px 0px #00000040;
  cursor: pointer;
}