.btns-container{
  width: 1100px;
  margin: 30px 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btns-container img{
  width: 30px;
  height: 30px;
}

.input-container {
  position: relative;
  margin-right: 50px;
}

.input-container label {
  position: absolute;
  top: 0; 
  left: 50px;
  font-size: 20px;
}

.input-calendar, .select-category{
  width: 260px;
  height: 60px;
  border: 2px solid #999999;
  border-radius: 12px;
  background: #D9D9D9;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.btn-show-reset{
  width: 260px;
  height: 60px;
  border-radius: 10px;
  background: #53A856;
  box-shadow: 3px 3px 4px 0px #00000040;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  border: none;
}