.search-label{
  width: 310px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background: #D9D9D9;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-img{
  width: 30px;
  height: 30px;
  margin: 0 10px 0 10px;
}

.input-search{
  width: 177px;
  height: 27px;
  border: none;
  outline: none;
  background: #D9D9D9;
}

.input-search::placeholder{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .search-label{
    width: 150px;
    height: 30px;
  }
  .input-search::placeholder{
    font-size: 10px;
  }
}