.modal-order-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 19, 19, 0.5);
}

.modal-order-container{
  width: 600px;
  height: 612px;
  border-radius: 20px;
  background-color: var(--background-two);
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0px #00000040;
}

.select-supplier{
  width: 250px;
  height: 50px;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.05em;
  text-align: left;
  border: none;
  margin: 20px 0 0 30px;
  color: #3E4153;
}

.modal-order-container input{
  width: 250px;
  height: 45px;
  border: none;
  margin: 20px 0 0 30px;
}

.modal-order-container input::placeholder{
  width: 300px;
  height: 45px;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #3E4153;
}

.input-ordered input{
  width: 260px;
  height: 60px;
  border-radius: 12px;
  border: 2px solid #999999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #3E4153; 
  margin: 20px 0 0 30px;
  padding: 0 10px;
}